<%= link_to "View all USERS", users_path %>


<h3>Admin Dashboard:</h3>
<small>Assign users to specific chat staff:</small>

<table class='table table-striped table-bordered text-center'>
    <tr>
        <td><strong>User Name</strong></td>
        <td><strong>Action</strong></td>
    </tr>
    <% User.where("account_types = 1").each do |user| %>
        <tr>
            <td
                ><%= user.name %>
            </td>
            <td>
                <%= link_to "chat now", chat_chat_page_path%>
            </td>
        </tr>
    <% end %>
</table>