<h3>Staff Dashboard:</h3>
<hr>
<small>View Chats with users:</small>


<% if @chats.empty? %>
    <h3 class="text-center text-primary">
        No Chats Assigned
    </h3>
<% else %>
    <table class='table table-striped table-bordered text-center'>
        <tr>
            <td><strong>Chat Title</strong></td>
            <td><strong>User Name</strong></td>
            <td><strong>Action</strong></td>
        </tr>
        <% @chats.each do |chat| %>
            <tr>
                <td>
                    <%= chat.chat_title %>
                </td>
                <td>
                    <%= User.where(user_id:chat.user_id).name %>
                </td>
                <td>
                    <%= link_to "chat now", "" %>
                </td>
            </tr>
        <% end %>
    </table>
<% end %>